<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments/header :: header" />-->
<head>
  <link rel="stylesheet" href="/css/update.css">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>


  <script type="text/javascript" src="/js/address.js" defer></script>
</head>
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>

<div class="container">
<!--  <div th:replace="fragments/bodyHeader :: bodyHeader"/>-->
  <div class="con">
  <form role="form"  action="/members/updateForm" th:object="${form}" method="post">
    <div class="form-group">
      <h1>회원 정보 수정</h1>
    </div>

    <div class="form-group">
      <label th:for="name">이름</label>

      <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">

    </div>
    <div class="form-group">
      <label th:for="city">주소</label><button type="button" readonly onclick="findAddr()">주소 찾기</button>
      <input id = "address" type="text" th:field="*{city}" class="form-control" placeholder="주소를 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="street">상세주소</label>
      <input type="text" th:field="*{street}" class="form-control" placeholder="상세주소를 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="zipcode">우편번호</label>
      <input id ="zipcode" type="text" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="email">이메일</label>
      <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
      th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
    </div>

    <div class="form-group">
      <label th:for="phone">핸드폰번호</label>
      <input type="text" th:field="*{phone}" class="form-control" placeholder="핸드폰번호를 입력하세요"
      th:class="${#fields.hasErrors('phone')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect date</p>
    </div>
    <div class="form-group">
      <label th:for="pw">비밀번호</label>
      <input type="text" th:field="*{pw}" class="form-control" placeholder="비밀번호를 입력하세요"
      th:class="${#fields.hasErrors('pw')}? 'form-control fieldError' : 'form-control'">
      <p th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}">Incorrect date</p>
    </div>
    <div class="footer">
      <button class="updateButton" type="submit">수정완료</button>
      <button type="button" onclick="location.href='/members/deleteForm'">회원탈퇴</button>
    </div>
  </form>
  <br/>
    </div>
<!--  <div th:replace="fragments/footer :: footer" />-->
</div> <!-- /container -->


</body>
</html>

