<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body th:fragment="nav_bar">
<!-- Sidebar Toggle (Topbar) -->
<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
</button>

<script>
    function error() {
        alert('다른 컴퓨터로 로그인되어 자동 로그아웃 됩니다.');
        location.href = '/message';
    }
</script>
<script th:if="${#session != null and #session.getAttribute('msg') != null }">
    error();
</script>

<!--&lt;!&ndash; Topbar Search &ndash;&gt;-->
<!--<form-->
<!--        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
<!--    <div class="input-group">-->
<!--        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."-->
<!--               aria-label="Search" aria-describedby="basic-addon2">-->
<!--        <div class="input-group-append">-->
<!--            <button class="btn btn-primary" type="button">-->
<!--                <i class="fas fa-search fa-sm"></i>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

<!-- Topbar Navbar -->
<ul class="navbar-nav ml-auto">




    <li class="nav-item dropdown no-arrow">

        <!-- 로그인하지 않았을때 보여지는 뷰 (드랍다운메뉴까지 포함) 시작  -->
        <a class="nav-link dropdown-toggle" href="/member/login" id="userDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           th:if="${#session == null or #session.getAttribute('id') == null}">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">로그인을 해주세요</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown" th:if="${#session == null or #session.getAttribute('id') == null}">
            <a class="dropdown-item" href="/members/new">

                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                회원가입
            </a>
            <a class="dropdown-item" href="/members/login">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                로그인
            </a>
        </div>
        <!-- 로그인하지 않았을때 보여지는 뷰 (드랍다운메뉴까지 포함) 끝 -->

        <!-- 로그인 했을때 보여지는 뷰 (드랍다운메뉴까지 포함) 시작  -->
        <a class="nav-link dropdown-toggle" href="/member/login" id="userDropdown2" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           th:if="${#session != null and #session.getAttribute('id') != null and #session.getAttribute('id') != 'admin'}">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#session.getAttribute('id')}">님</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown2"
             th:if="${#session != null and #session.getAttribute('id') != null and #session.getAttribute('id') != 'admin'}">

            <a class="dropdown-item" href="/members/updateForm">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                회원 정보 수정
            </a>
            <a class="dropdown-item" href="/orderedItem/form">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                내 주문목록
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                1:1 문의
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"
               th:if="${#session != null and #session.getAttribute('id') != null}">

                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                로그아웃
            </a>
        </div>
        <!-- 로그인 했을때 보여지는 뷰 (드랍다운메뉴까지 포함) 끝  -->
        <!--admin일때 보여지는 뷰-->
        <a class="nav-link dropdown-toggle" href="/member/login" id="userDropdown3" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           th:if="${#session != null and  #session.getAttribute('id') != null and #session.getAttribute('id') == 'admin'}">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#session.getAttribute('id')}">님</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
             aria-labelledby="userDropdown3"
             th:if="${#session != null and  #session.getAttribute('id') != null and #session.getAttribute('id') == 'admin'}">
            <a class="dropdown-item" href="/members">
                <i class="fas fa-atom fa-sm fa-fw mr-2 text-gray-400"></i>
                회원목록
            </a>

            <a class="dropdown-item" href="/order/list">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                전체 주문목록
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                1:1 문의
            </a>
            <a class="dropdown-item" href="/admin/item-add">
                <i class="fas fa-atom fa-sm fa-fw mr-2 text-gray-400"></i>
                아이템추가
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"
               th:if="${#session != null and #session.getAttribute('id') != null}">

                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                로그아웃
            </a>
        </div>
        <!--admin일때 보여지는 뷰 끝-->


    </li>

</ul>

</body>
</html>
