<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <script>
        function addOrder(itemId) {

            $(".product-cart-button").attr("disabled", true);
            $.ajax({
                url: "/carts/item",
                type: "POST",
                data: { "id" : itemId },
                success: function (data) {
                    if(data=="check"){
                        alert("로그인 후 이용해주세요")
                        return false;
                    }
                    $(".product-cart-button").attr("disabled", false);
                    alert("장바구니에 담겼습니다.");
                }
            });
        }
    </script>
    <div th:replace="fragments/header :: header" />
    <link rel="stylesheet" href="/css/item_info.css">

</head>
<link rel="">

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- 왼쪽 사이드 바 시작 -->
        <!-- th:replace로 templates안에 fragments 폴더안에 side_bar.html 받아오게 함 -->
        <!-- 수정할 내용은 side_bar.html 에서 해주시면 다 적용됩니다 -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <div th:replace="fragments/side_bar :: side_bar" />
        </ul>
        <!-- 왼쪽 사이드 바 끝 -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- 상단의 nav 바 시작 -->
                <!-- 이것도 수정하실거 있으시면 fragments 폭더에 nav_bar 수정해주시면 됩니다 -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div th:replace="fragments/nav_bar :: nav_bar" />
                </nav>
                <!-- 상단의 nav 바 끝 -->

                <!-- 바디부분 시작 -->
                <div class="container-fluid">

                    <div class="con">

                        <!-- 상품 구매에 관한 콘테이너 시작-->
                        <div class="first-con">
                            <div class="first-left-con">
                                <div class="product-img-box"><img class="product-img" th:src="${item.getImage()}" alt="">
                                </div>
                                <div class="product-img-slide-box">
                                    <!-- 아래 작은 이미지 누르면 바뀌면서 보이게 -->
                                </div>
                            </div>
                            <div class="first-right-con">
                                <div class="product-title">
                                    <h2 th:text="${item.getName()}"></h2>
                                </div>
                                <div class="product-price-info-box">
                                    <div class="product-price-name">가격</div>
                                    <div class="product-price" th:text="${item.getPrice()}"></div>
                                </div>
<!--                                <div class="product-member-ship-box">-->
<!--                                    <div class="product-member-ship-title"></div>-->
<!--                                    <div class="product-member-ship-info-box">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="product-buy-info-box">
                                    <form class="product-form" action="">
                                        <div class="content-line">
                                            <p>옵션1 </p>
                                            <select class="product-select">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="content-line">
                                            <p>옵션2 </p>
                                            <select class="product-select">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div class="content-line">
                                            <p>옵션3 </p>
                                            <select class="product-select">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>

                                        <input type="button" class="product-cart-button" style="background: burlywood;" value="장바구니 담기"
                                            th:onclick="|addOrder(${item.getId()})|" />
                                    </form>
                                </div>

                            </div>

                        </div>
                        <!-- 상품 구매에 관한 콘테이너 끝-->

                        <!-- 상품 정보에 관한 콘테이너 시작-->
                        <div class="second-con">
                            <div class="product-explanation-con">
                                <div class="youtube-link-box">
                                    <iframe th:src="${item.getItemVideo()}"></iframe>
                                </div>
                                <div class="product-info-content">
                                    <p th:text="${item.getItemInfo()}"></p>
                                </div>
                            </div>

                        </div>
                        <!-- 상품 정보에 관한 콘테이너 시작-->

                        <!-- 리뷰에 관한 콘테이너 시작-->
                        <div class="third-con">
                            <div class="review_area">
                                <ul class="review_list">
                                    <p class="review_notice">리뷰</p>
                                    <li class="review_title">
                                        <div class="review_img">이미지</div>
                                        <div class="review_title">제목</div>
                                        <div class="review_writer">작성자</div>
                                        <div class="review_date">날짜</div>
                                    </li>
                                </ul>

                                <div class="accordion-review" id="accordionExample" th:each="review, index : ${reviewList}">
                                    <div class="card review_items">
                                        <div class="card-header" th:id="'heading' + ${index}"
                                            th:data-target="'#collapse' + ${index}">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left" type="button"
                                                    data-toggle="collapse" aria-expanded="false">
                                                    <div class="review_img">
                                                        <img th:src="${review.getImage()}" alt="">
                                                    </div>
                                                    <div class="review_title" th:text="${review.getTitle()}"></div>
                                                    <div class="review_writer" th:text="${review.getWriter()}"></div>
                                                    <div class="review_date" th:text="${review.getCreatedDate()}"></div>
                                                </button>
                                            </h2>
                                        </div>

                                        <div th:id="'collapse' + ${index}" class="collapse"
                                            aria-labelledby="'heading' + ${index}" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="detail_img">
                                                    <img th:src="${review.getImage()}" alt="">
                                                </div>
                                                <div class="detail_box">
                                                    <div class="detail_title" th:text="${review.getTitle()}"></div>
                                                    <div class="detail_writer" th:text="${review.getWriter()}"></div>
                                                    <div class="detail-content" th:text="${review.getContent()}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 리뷰에 관한 콘테이너 끝-->

                    </div>
                </div>
                <!-- 바디부분 끝 -->

            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
            <script>

                const accordions = document.querySelectorAll('.accordion-review');

                accordions.forEach((accordion) => {
                    console.log("clicked");
                    const collapse = accordion.querySelector('.collapse');

                    accordion.addEventListener('click', () => {
                        collapse.classList.toggle('show');
                        accordions.forEach((otherAccordion) => {
                            const otherCollapse = otherAccordion.querySelector('.collapse');
                            if (otherAccordion !== accordion && otherCollapse.classList.contains('show')) {
                                otherCollapse.classList.remove('show');
                            }
                        });
                    });
                });

            </script>
        </div>

    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="fragments/logout :: logout" />

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->


    <!-- Page level custom scripts -->


</body>

</html>